{% extends 'base.html' %}

{% block title %}Accepted Service Requests{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-4">Accepted Service Requests</h2>
    
    {% if requests %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Service</th>
                    <th>Date of Request</th>
                    <th>Address</th>
                    <th>Customer's status</th>
                    <th>Service Status</th>
                    <th>Remarks</th>
                    {% if request.service_status == 'assigned' %}
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                <tr>
                    <td>{{ request.customer.name }}</td>
                    <td>{{ request.service.name }}</td>
                    <td>{{ request.date_of_request.strftime('%Y-%m-%d %H:%M') }}</td>
                    <td>{{ request.customer.address }}</td>
                    <td>
                        {% if request.customer.verification_status  %}
                            <span class="badge bg-success">Verified</span>
                        {% else %}
                            <span class="badge bg-warning">Not Verified</span>
                        {% endif %}
                    </td>
                    <td>
                            {% if request.service_status == 'pending' %}
                                <span class="badge bg-primary">Pending</span>
                            {% elif request.service_status == 'completed' %}
                                <span class="badge bg-success">Completed</span>
                            {% elif request.service_status == 'canceled' %}
                                <span class="badge bg-warning">Canceled</span>
                            {% elif request.service_status == 'assigned'%}
                                <span class="badge bg-info">Canceled</span>
                            {% endif %}
                            
                    </td>
                    <td>{{ request.remarks }}</td>
                    {% if request.service_status == 'assigned' %}
                    <td>
                       
                        <a href="{{ url_for('professional_complete_request', request_id=request.id) }}" class="btn btn-primary btn-sm">Mark as Completed</a>
                        
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
        You have no accepted requests at the moment.
    </div>
    {% endif %}
</div>
{% endblock %}
