{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Summary Statistics</h1>

    <div class="mt-4">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Statistic</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in summary_data.items() %}
                    {% if key == 'requests_by_service' %}
                        <tr>
                            <td>Requests by Service</td>
                            <td>
                                <ul>
                                    {% for item in value %}
                                        <li>{{ item.service }}: {{ item.count }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ key.replace('_', ' ').capitalize() }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="mt-4">
        <h4 class="text-center">Visualizations</h4>
        {% if plot_files %}
            <div class="row justify-content-center">
                {% for plot in plot_files %}
                    <div class="col-md-4 mb-3">
                        <img src="{{ url_for('static', filename='plots/' + plot) }}" alt="{{ plot }}" class="img-fluid rounded">
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center">No plots available for this role.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
